/* Pipeline */

#pipeline {
    min-height: 100vh;
    padding: 70px 6%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pipeline .section-heading {
    margin-bottom: 35px;
}

#pipeline .section-heading h2 {
    font-size: 36px;
}

.pipeline {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    flex-wrap: nowrap;
}

.pipeline-card {
    width: 170px;
    padding: 25px 15px;

    text-align: center;

    background: rgba(255, 255, 255, 0.04);

    border: 1px solid rgba(255, 255, 255, 0.09);

    border-radius: 14px;

    transition: 0.3s;
}

.pipeline-card:hover {
    transform: translateY(-5px);

    border-color: rgba(129, 140, 248, 0.5);

    background: rgba(255, 255, 255, 0.07);
}

.pipeline-icon {
    font-size: 34px;
    margin-bottom: 8px;
}

.pipeline-card h3 {
    font-size: 18px;
    margin-bottom: 4px;
}

.pipeline-card p {
    color: #8f97ad;
    font-size: 13px;
}

.arrow {
    font-size: 25px;
    color: #6366f1;
}